# Dependency directories
node_modules/
dist/

# Build output
build/

# Logs
logs/
*.log

# Cache directories
.cache/
.vite/

# Environment files
.env*
!.env.example

# Editor directories
.idea/
.vscode/

# Package files
package-lock.json
yarn.lock

# System files
.DS_Store
Thumbs.db 