{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Complete Buyer Profile' %}{% endblock title %}

{% block content %}
<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{% trans 'Buyer details' %}</h2>
    <form method="post" class="mt-8 space-y-6" hx-post="/register/buyer" hx-target="#buyer-form-container" hx-swap="outerHTML">
      {% csrf_token %}
      <div id="buyer-form-container">
        {% include 'users/buyer_register_form_partial.html' %}
      </div>
    </form>
  </div>
</div>
{% endblock content %} 