@import "tailwindcss";
@plugin "@tailwindcss/forms";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@layer base {
  /* Simple form styles similar to Tailwind Forms demo */
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  textarea,
  select {
    @apply block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-600 focus:ring-indigo-600;
  }

  input[type='checkbox'],
  input[type='radio'] {
    @apply rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-600 focus:ring-indigo-600;
  }
}

.htmx-indicator{
  display:none;
}
.htmx-request .htmx-indicator{
  display:flex;
}
.htmx-request.htmx-indicator{
  display:flex;
}
