{% load static tailwind_tags i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Czesci{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal min-h-screen flex flex-col">
		<!-- Primary Navigation Bar -->
		<nav x-data="{ mobileOpen: false, langOpen: false }" class="bg-white shadow-md fixed top-0 inset-x-0 z-50">
			{% include 'inc/base_header.html' %}
		</nav>

		<!-- Spacer to push content below fixed navbar -->
		<div class="h-16 md:h-16"></div>

		<!-- Main Content -->
		{% block content %}{% endblock content %}

		<!-- Secondary Navigation Footer -->
		{% include 'inc/base_footer.html' %}

		<!-- Modal Root -->
		<div id="modal-root"></div>

		<!-- Alpine.js & HTMX -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.9/cdn.min.js"></script>

        <!-- Toaster -->
        <script src="/static/js/htmx-toaster.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                if (window.HTMXToaster) {
                    {% for message in messages %}
                        HTMXToaster.addToast('{{ message.tags }}', '{{ message|escapejs }}');
                    {% endfor %}
                }
            });
        </script>

		{% block scripts %}{% endblock scripts %}
	</body>
</html>
